<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Vertretungsplan import</h1>
    <div class ="col-md-6 col-md-offset-3">
        <form>
            <div class="form-group">
              <label for="classInput">Klasse</label>
              <select class="browser-default custom-select mb-4" id="classSelect" name="class">
                  <option value="5a">5a</option>
                      <option value="5b">5b</option>
                      <option value="5c">5c</option>
                      <option value="5d">5d</option>
                      <option value="6a">6a</option>
                      <option value="6b">6b</option>
                      <option value="6c">6c</option>
                      <option value="6d">6d</option>
                      <option value="7a">7a</option>
                      <option value="7b">7b</option>
                      <option value="7c">7c</option>
                      <option value="7d">7d</option>
                      <option value="8a">8a</option>
                      <option value="8b">8b</option>
                      <option value="8c">8c</option>
                      <option value="8d">8d</option>
                      <option value="9a">9a</option>
                      <option value="9b">9b</option>
                      <option value="9c">9c</option>
                      <option value="9d">9d</option>
                      <option value="10a">10a</option>
                      <option value="10b">10b</option>
                      <option value="10c">10c</option>
                      <option value="10d">10d</option>
                </select>
            </div>
            <div class="form-group">
            <label for="hourInput">Stunde</label>
            <div class="form-group"></div>
              <select class="browser-default custom-select mb-4" id="hourSelect" name="hour">
                  <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                    </select>
            </div>
            <div class="form-group">
                    <label for="teacherInput">Lehrer</label>
                    <select class="browser-default custom-select mb-4" id="teacherSelect" name="teacher">
                        
                    </select>
            </div>
            <div class="form-group">
                <label for="subjectInput">Neues Fach</label>
                <select class="browser-default custom-select mb-4" id="subjectSelect" name="subject">
                    <option value="deutsch">Deutsch</option>
                    <option value="mathe">Mathe</option>
                    <option value="englisch">Englisch</option>
                    <option value="französisch">Französisch</option>
                    <option value="technik">Technik</option>
                    <option value="sowi">SoWi</option>
                    <option value="sport">Sport</option>
                    <option value="kunst">Kunst</option>
                    <option value="politik">Politik</option>
                    <option value="Geschichte">Geschichte</option>
                    <option value="Erdkunde">Erdkunde</option>
                    <option value="Kunst">Kunst</option>
                    <option value="Katholisch-Reli">Katholisch-Reli</option>
                    <option value="Evangelisch-Reli">Evangelisch-Reli</option>
                    <option value="PP">PP</option>
                    <option value="Physik">Physik</option>
                    <option value="Chemie">Chemie</option>
                </select>
            </div>
            <div class="form-group">
                <input type ="text" id="roomInput" class="form-control mb-4" placeholder="Raum" name="room">
            </div>
            <div class="form-group">
                <input type ="text" id="reasonInput" class="form-control mb-4" placeholder="Grund" name="reason">
            </div>
            <button type="submit" class="btn btn-primary">Absenden</button>
        </form>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>